@import "tailwindcss";

@source "*.{ts,tsx}";
@source "../../../packages/ui/**/*.{ts,tsx}";

:root {
  background: var(--background-base);
}

.lines-container {
  position: absolute;
  top: 0;
  height: 800px;
  width: 100%;
  mask-image: linear-gradient(180deg, black, transparent);
}

.lines {
  position: absolute;
  inset: 0;
  z-index: -1;
  background-image: url("data:image/svg+xml,%3Csvg width='6' height='6' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23d7d7da' fill-opacity='0.8' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E");
  background-size: 10px;
}

.dark .lines {
  background-image: url("data:image/svg+xml,%3Csvg width='6' height='6' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%234b4b4b' fill-opacity='0.4' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E");
  background-size: 10px;
}

::selection {
  background: color-mix(in lch, var(--primary) 10%, transparent);
  color: var(--primary);
}

.animate-shimmer-text {
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-color: color-mix(in lch, var(--muted-foreground) 75%, transparent);
  background-image: -webkit-gradient(
    linear,
    100% 0,
    0 0,
    from(color-mix(in lch, var(--muted-foreground) 75%, transparent)),
    color-stop(0.5, color-mix(in lch, var(--foreground) 100%, transparent)),
    to(color-mix(in lch, var(--muted-foreground) 75%, transparent))
  );
  animation: shimmer-text 3s 0.25s infinite;
  background-repeat: no-repeat;
  background-size: 50% 200%;
}

@keyframes shimmer-text {
  0% {
    background-position: -100% top;
  }
  100% {
    background-position: 250% top;
  }
}
