@import "tailwindcss";
@import "tw-animate-css";
@plugin "tailwind-scrollbar";

@source "./**/*.{ts,tsx}";

@custom-variant dark (&:is(.dark *));
@custom-variant light (&:is(.light *):not(.dark *));

.echotab-root {
  --background-base: oklch(96.5% 0 0);
  --background: oklch(100% 0 0);
  --foreground: oklch(22.1% 0.013 20);
  --card: oklch(99.4% 0.002 85);
  --card-active: oklch(95% 0 0);
  --card-foreground: oklch(22.1% 0.013 20);
  --popover: oklch(99% 0 0);
  --popover-foreground: oklch(22.1% 0.013 20);
  --primary: oklch(65% 0.23 41);
  --primary-foreground: oklch(98% 0 0);
  --secondary: oklch(90% 0 0);
  --secondary-foreground: oklch(22.5% 0.009 25);
  --muted: oklch(94.8% 0.003 15);
  --muted-foreground: oklch(55.4% 0.003 252);
  --accent: oklch(95.2% 0.004 85);
  --accent-foreground: oklch(22.5% 0.009 25);
  --destructive: oklch(62% 0.25 25);
  --destructive-foreground: oklch(50.8% 0.146 25);
  --success: oklch(68% 0.23 145);
  --success-foreground: oklch(98.2% 0.005 85);
  --warning: oklch(58% 0.19 45);
  --warning-foreground: oklch(98.2% 0.005 85);
  --border: oklch(90% 0.004 252);
  --border-active: oklch(90% 0.004 252);
  --input: oklch(91.5% 0.008 25);
  --radius: 0.5rem;
  --surface-1: oklch(99.2% 0 0);
  --surface-2: oklch(98.1% 0 0);
  --surface-3: oklch(97.7% 0 0);
  --surface-4: oklch(96.9% 0 0);
  --ring: oklch(82.5% 0.007 35);

  --background-base: oklch(96.42% 0 0);
  --background: oklch(100% 0 0);
  --foreground: oklch(23.08% 0 0);
  --card: oklch(99.4% 0 0);
  --card-active: oklch(94.91% 0 0);
  --card-foreground: oklch(23.08% 0 0);
  --popover: oklch(99.11% 0 0);
  --popover-foreground: oklch(23.08% 0 0);
  /* --primary: oklch(65.27% 0.2241 35.89); */
  --primary-foreground: oklch(97.91% 0 0);
  --secondary: oklch(90.06% 0 0);
  --secondary-foreground: oklch(23.08% 0 0);
  --muted: oklch(94.84% 0.0033 17.75);
  --muted-foreground: oklch(55.55% 0 0);
  --accent: oklch(94.91% 0 0);
  --accent-foreground: oklch(23.08% 0 0);
  --destructive: oklch(61.97% 0.2499 25);
  --destructive-foreground: oklch(50.72% 0.1464 24.89);
  --border: oklch(90.37% 0 0);
  --border-active: oklch(90.37% 0 0);
  --input: oklch(91.89% 0 0);
  --ring: oklch(82.97% 0 0);
  --surface-1: oklch(99.11% 0 0);
  --surface-2: oklch(98.21% 0 0);
  --surface-3: oklch(97.61% 0 0);
  --surface-4: oklch(97.02% 0 0);
}

.echotab-root.dark,
.dark .echotab-root {
  --background-base: oklch(24.5% 0 0);
  --background: oklch(26.3% 0 0);
  --foreground: oklch(89.6% 0.007 88);
  --card: oklch(28.5% 0 0);
  --card-active: oklch(32.4% 0 0);
  --card-foreground: oklch(90% 0 0);
  --popover: oklch(23.8% 0 0);
  --popover-foreground: oklch(90% 0 0);
  --primary: oklch(60% 0.21 37);
  --primary-foreground: oklch(90% 0 0);
  --secondary: oklch(29.2% 0 0);
  --secondary-foreground: oklch(89.6% 0.007 88);
  --muted: oklch(29.6% 0 0);
  --muted-foreground: oklch(67.7% 0.007 35);
  --accent: oklch(28.8% 0 0);
  --accent-foreground: oklch(90% 0 0);
  --destructive: oklch(55% 0.22 25);
  --destructive-foreground: oklch(75% 0.18 25);
  --border: oklch(31.4% 0 0);
  --border-active: oklch(39.4% 0 0);
  --input: oklch(35.2% 0 0);
  --ring: oklch(47.4% 0.007 35);
  --success: oklch(65% 0.21 150);
  --surface-1: oklch(23.8% 0 0);
  --surface-2: oklch(26.1% 0 0);
  --surface-3: oklch(28.5% 0 0);
  --surface-4: oklch(30.4% 0 0);
}

.echotab-root.dark-contrast,
.dark-contrast .echotab-root {
  --background-base: oklch(19.3% 0 0);
  --background: oklch(22.9% 0 0);
  --foreground: oklch(93.3% 0.007 88);
  --card: oklch(26.6% 0 0);
  --card-active: oklch(30.4% 0 0);
  --card-foreground: oklch(95.9% 0 0);
  --popover: oklch(21.1% 0 0);
  --popover-foreground: oklch(95.9% 0 0);
  --primary: oklch(65% 0.23 37);
  --primary-foreground: oklch(98.6% 0 0);
  --secondary: oklch(25.7% 0 0);
  --secondary-foreground: oklch(93.3% 0.007 88);
  --muted: oklch(20.3% 0.01 20);
  --muted-foreground: oklch(73% 0.007 35);
  --accent: oklch(25.7% 0 0);
  --accent-foreground: oklch(98.6% 0 0);
  --destructive: oklch(60% 0.24 25);
  --destructive-foreground: oklch(77.4% 0.19 25);
  --border: oklch(30.4% 0 0);
  --border-active: oklch(36.1% 0 0);
  --input: oklch(32.3% 0 0);
  --ring: oklch(52% 0.007 35);
  --success: oklch(70% 0.22 150);
  --surface-1: oklch(21.1% 0 0);
  --surface-2: oklch(23.8% 0 0);
  --surface-3: oklch(26.6% 0 0);
  --surface-4: oklch(28.5% 0 0);

  --background-base: oklch(24.35% 0 0);
  --background: oklch(26.45% 0 0);
  --foreground: oklch(89.14% 0 0);
  --card: oklch(28.5% 0 0);
  --card-active: oklch(32.5% 0 0);
  --card-foreground: oklch(90.06% 0 0);
  --popover: oklch(23.93% 0 0);
  --popover-foreground: oklch(90.06% 0 0);
  /* --primary: oklch(60.09% 0.2085 35.46); */
  --primary-foreground: oklch(90.06% 0 0);
  --secondary: oklch(29.31% 0 0);
  --secondary-foreground: oklch(89.14% 0 0);
  --muted: oklch(29.72% 0 0);
  --muted-foreground: oklch(67.64% 0 0);
  --accent: oklch(28.91% 0 0);
  --accent-foreground: oklch(90.06% 0 0);
  --destructive: oklch(55.03% 0.22 25.04);
  --destructive-foreground: oklch(73.17% 0.1648 24.98);
  --border: oklch(31.32% 0 0);
  --border-active: oklch(39.42% 0 0);
  --input: oklch(35.23% 0 0);
  --ring: oklch(47.84% 0 0);
  --surface-1: oklch(23.93% 0 0);
  --surface-2: oklch(26.03% 0 0);
  --surface-3: oklch(28.5% 0 0);
  --surface-4: oklch(30.52% 0 0);
}

.echotab-root {
  -webkit-font-smoothing: antialiased;
  @apply text-foreground;

  font-feature-settings:
    "rlig" 1,
    "calt" 1;
}

@layer base {
  :where(.echotab-root *) {
    @apply border-border;
  }
}

@layer utilities {
  .overflow-initial {
    overflow: initial;
  }
}

@theme inline {
  --color-background-base: var(--background-base);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-active: var(--card-active);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-success: var(--success);
  --color-success-foreground: var(--success-foreground);
  --color-warning: var(--warning);
  --color-warning-foreground: var(--warning-foreground);
  --color-border: var(--border);
  --color-border-active: var(--border-active);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-surface-1: var(--surface-1);
  --color-surface-2: var(--surface-2);
  --color-surface-3: var(--surface-3);
  --color-surface-4: var(--surface-4);

  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --ease-in-expo: cubic-bezier(0.95, 0.05, 0.795, 0.035);
}

.focus-ring {
  @apply focus-visible:ring-ring focus-visible:ring-1 focus-visible:outline-none;
}

.scrollbar-gray {
  @apply scrollbar-thin scrollbar-track-transparent scrollbar-thumb-[#c1c1c1] hover:scrollbar-thumb-neutral-500;
}

.dark .scrollbar-gray {
  @apply scrollbar-thumb-neutral-700 hover:scrollbar-thumb-neutral-600;
}

.keyboard-shortcut {
  @apply border-border bg-foreground/5 text-foreground rounded border p-1 px-2 font-mono text-xs whitespace-nowrap uppercase;
}

.outlined-bottom {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    width: 200vw;
    height: 1px;
    left: 50%;
    transform: translateX(-50%);
    bottom: -1px;
    border-bottom: 1px solid color-mix(in oklab, var(--border) 70%, transparent);
  }

  &.dashed {
    &::before {
      border-bottom: 1px dashed color-mix(in oklab, var(--border) 60%, transparent);
    }
  }
}

.outlined-top {
  position: relative;

  &::after {
    content: "";
    position: absolute;
    width: 200vw;
    height: 1px;
    left: 50%;
    transform: translateX(-50%);
    top: -1px;
    border-top: 1px solid color-mix(in oklab, var(--border) 60%, transparent);
  }

  &.dashed {
    &::after {
      border-top: 1px dashed color-mix(in oklab, var(--border) 60%, transparent);
    }
  }
}

.contained {
  @apply mx-auto w-full max-w-4xl;
}

.outlined-side {
  @apply border-border/60 border-r border-l;
}

.fade-gradient {
  --fade-gradient: linear-gradient(
    to bottom,
    hsl(0, 0%, 0%) 0%,
    hsla(0, 0%, 0%, 0.987) 6.6%,
    hsla(0, 0%, 0%, 0.952) 12.8%,
    hsla(0, 0%, 0%, 0.897) 18.7%,
    hsla(0, 0%, 0%, 0.826) 24.3%,
    hsla(0, 0%, 0%, 0.743) 29.9%,
    hsla(0, 0%, 0%, 0.651) 35.5%,
    hsla(0, 0%, 0%, 0.553) 41.1%,
    hsla(0, 0%, 0%, 0.454) 46.9%,
    hsla(0, 0%, 0%, 0.356) 53%,
    hsla(0, 0%, 0%, 0.264) 59.4%,
    hsla(0, 0%, 0%, 0.18) 66.3%,
    hsla(0, 0%, 0%, 0.108) 73.7%,
    hsla(0, 0%, 0%, 0.052) 81.7%,
    hsla(0, 0%, 0%, 0.014) 90.4%,
    hsla(0, 0%, 0%, 0) 100%
  );
}
