.echotab-root {
  --font-sans: "Inter", sans-serif;
  background: var(--background-base);
}

.selection-area {
  background: color-mix(in lch, var(--primary) 7%, transparent);
  border: 1px solid color-mix(in lch, var(--primary) 70%, transparent);
  border-radius: 2px;
}

.no-spinner {
  -moz-appearance: textfield;
}

.no-spinner::-webkit-outer-spin-button,
.no-spinner::-webkit-inner-spin-button {
  margin: 0;
  -webkit-appearance: none;
}

.animate-shimmer-text {
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-color: color-mix(in lch, var(--muted-foreground) 75%, transparent);
  background-image: -webkit-gradient(
    linear,
    100% 0,
    0 0,
    from(color-mix(in lch, var(--muted-foreground) 75%, transparent)),
    color-stop(0.5, color-mix(in lch, var(--foreground) 100%, transparent)),
    to(color-mix(in lch, var(--muted-foreground) 75%, transparent))
  );
  animation: shimmer-text 3s 0.25s infinite;
  background-repeat: no-repeat;
  background-size: 50% 200%;
}

@keyframes shimmer-text {
  0% {
    background-position: -100% top;
  }
  100% {
    background-position: 250% top;
  }
}
