#plasmo-shadow-container {
  visibility: visible !important;
}

.logo-pulse {
  opacity: 0.7;
  animation: ping 6s cubic-bezier(0, 0, 0.2, 1) var(--pulse-delay) infinite;
}

@keyframes ping {
  33% {
    transform: scale(2);
    opacity: 0;
  }
  100% {
    transform: scale(2);
    opacity: 0;
  }
}

/* https://x.com/jh3yy/status/1752903535488823789 */
.glow-outline {
  --width-px: calc(var(--width) * 1px);
  --radius-px: calc(var(--radius) * 1px);

  position: absolute;
  pointer-events: none;
  inset: calc(var(--width-px) * -1);
  clip-path: inset(0 0 0 0 round var(--radius-px));
  border-radius: var(--radius-px);
  overflow: hidden;
}

.glow-outline .before,
.glow-outline .after {
  content: "";
  height: calc(var(--width-px));
  width: 100px;
  position: absolute;
  display: inline-block;
  offset-path: border-box;
  offset-anchor: 100% 50%;
  background: radial-gradient(circle at right, hsl(0 0% 100% / 0.2), transparent 50%),
    radial-gradient(circle at right, hsl(var(--primary)) 50%, transparent);
  box-shadow: 0 0 6px 1px hsl(var(--primary) / 0.5);
}

.glow-outline .before {
  --start: 5%;
}

.glow-outline .after {
  --start: 55%;
}
