.logo-pulse {
    opacity: 0.7;
    animation: ping 6s cubic-bezier(0, 0, 0.2, 1) var(--pulse-delay) infinite;
}

@keyframes ping {
    33% {
        transform: scale(2);
        opacity: 0;
    }
    100% {
        transform: scale(2);
        opacity: 0;
    }
}
