.tab-list-placeholder {
    --fade-gradient: linear-gradient(
        to bottom,
        hsl(0, 0%, 0%) 0%,
        hsla(0, 0%, 0%, 0.987) 6.6%,
        hsla(0, 0%, 0%, 0.952) 12.8%,
        hsla(0, 0%, 0%, 0.897) 18.7%,
        hsla(0, 0%, 0%, 0.826) 24.3%,
        hsla(0, 0%, 0%, 0.743) 29.9%,
        hsla(0, 0%, 0%, 0.651) 35.5%,
        hsla(0, 0%, 0%, 0.553) 41.1%,
        hsla(0, 0%, 0%, 0.454) 46.9%,
        hsla(0, 0%, 0%, 0.356) 53%,
        hsla(0, 0%, 0%, 0.264) 59.4%,
        hsla(0, 0%, 0%, 0.18) 66.3%,
        hsla(0, 0%, 0%, 0.108) 73.7%,
        hsla(0, 0%, 0%, 0.052) 81.7%,
        hsla(0, 0%, 0%, 0.014) 90.4%,
        hsla(0, 0%, 0%, 0) 100%
    );
}
